.page-body{
    margin: 0;
    font-family: sans-serif;
    background-color: #000000
    0,01 %;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation{
    display: inline-block;
    vertical-align: center;
}

.menu{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.menu-item{
    display: inline-block;
    vertical-align: center;
    margin-left: 60px;
}

a{
    text-decoration: none;
}

.menu-link{
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #FF0000;
    text-transform: uppercase;
}

.menu-item-current{
    margin-left: 50px;
}

img{
    width: 100%;
}

.content-title{
    margin: 49px 253px 38px 253px;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #373737;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

.content-text{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #373737;
    margin: 0px 68px 28px 68px;
    letter-spacing: 2.4px;
}

.link-like-buttom{
    padding: 18px 43px 18px 43px;
    width: 105px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.link-wrap{
    text-align: center;
    margin: 66px 544px 42px 544px;
}
.footer-section{
    width: 1070px;
    margin: 0px 105px 29px 105px;
    text-align: right;
}

.footer-text-invisible{
    text-align: left;
    margin: 0px 700px 25px 90px;
    font-size: 18px;
    font-weight: 900px;
    line-height: 21px;
    color: #373737;
    visibility: hidden;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.footer-text{
    padding-left: 608px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #373737;
    letter-spacing: 1.5px;
}
